nav{
    position:fixed;
    position: fixed;
    height: 100px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background-color:cornsilk;
    width: 100%;
    font-size: 30px;
}
h1{
    padding: 50px 10px 5px 100px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.boton{
    width:400px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}
input[type="text"], input[type="email"], select{
    width: 400px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
}
input[type="radio"]{
    width: 50px;
    height: 20px;
}
textarea{
    width: 400px;
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
}
.container{
    text-align: center;
}
.filas{
    padding: 10px 10px 10px 50px;
}
body{
    margin: 100px 0px 0px 0px;
}

section{
    padding: 10px 100px 10px 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.menu{
    position: absolute;
    right: 50px;
}
.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
    transition: color 1s;
    text-transform: uppercase;
}
.menu a:hover{
    color: blue;
}
.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #E85860;
}
.btn span {
    display:block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}
.logo{
    background: url(/Imagenes/LogoTemporal.jpg) no-repeat 80% 80%;
    background-size: contain;
    width: 180px;
    height: 80px;
    float: left;
}

@media only screen and (max-width: 800px){
    .col-25, .col-75, input[type=submit], input[type=reset]  {
        width: 100%;
        margin-top: 0;
      }
    nav {
        overflow: visible;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1E6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 500px;
    }
}